<div layout="column" layout-align="center" flex="100">
    <h2>Footer</h2>

    <div>
        <div display="inline-block">
            <!-- Facebook Like and Share buttons -->
            <!-- the "like" button is giving us an error when clicked
            <!--<div display="inline-block" class="fb-like" data-href="http://macdiyver.com/C11.16_DIY" data-width="10" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>-->

            <!-- Facebook Send & Number of Likes button -VL -->
            <!-- Probably don't want to include this at first, since we have a low number of likes -->
            <div class="fb-share-button" data-href="http://macdiyver.com" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmacdiyver.com%2F&amp;src=sdkpreparse">Share</a></div>

            <!-- Twitter button -->
            <a href="https://twitter.com/intent/tweet?screen_name=vern080" display="inline-block" class="twitter-mention-button" data-show-count="false">Tweet to @vern080</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <!-- Pinterest button -->
            <a href="https://www.pinterest.com/pin/create/button/">
                <img display="inline-block" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
            </a>
        </div>

        <div display="inline-block">
            <ul>
                <!--<li> <a href="http://macdiyver.com/C11.16_DIY/index.php">Home Page</a> </li>-->
                <li> <a href="index.php">Home Page</a> </li>

                <!--<li> <a href="http://macdiyver.com/C11.16_DIY/terms_of_servce.php">Terms of Service</a> </li>-->
                <li> <a href="terms_of_service.php">Terms of Service</a> </li>

                <!--<li> <a href="http://macdiyver.com/C11.16_DIY/about_us.php">About Us</a> </li>-->
                <li> <a href="about_us.php">About Us</a> </li>
            </ul>
        </div>
        <div display="inline-block">
            <ul>
                <!--<li> <a href="http://macdiyver.com/C11.16_DIY/footer_links/contact_us.php">Contact Us</a></li>-->
                <li> <a href="contact_us.php">Contact Us</a> </li>

                <!--<li> <a href="http://macdiyver.com/C11.16_DIY/faq.php"></a> </li>-->
                <li> <a href="faq.php">Frequently Asked Questions</a></li>

                <li> <a href="http://macdiyver.com/C11.16_DIY/_wordPress/wordpress/index.php">Blog</a> </li>
            </ul>
        </div>
    </div>
</div>