<html lang="en" >
<head>
    <!--Angular Material Style Sheets-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script>
        angular.module('diyApp', ['ngMaterial'])
                .controller('AppCtrl', function ($scope, $timeout, $mdSidenav) {
                    $scope.toggleLeft = buildToggler('left');
                    $scope.toggleRight = buildToggler('right');

                    function buildToggler(componentId) {
                        return function() {
                            $mdSidenav(componentId).toggle();
                        }
                    }
                })
                .controller('checkBoxController', checkBoxController)
                .controller('GridCtrl', ['$scope', function ($scope) {
                    $scope.grid = [[1,2,3],[4,5,6],[7,8,9]];
                }]);

        function checkBoxController ($scope) {
        }


    </script>

    <style>
        button.accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        button.accordion.active, button.accordion:hover {
            background-color: #ddd;
        }

        div.panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
    </style>

</head>
<body ng-app="diyApp">

<!--sticky header-->
<md-toolbar layout="column" ng-controller="AppCtrl">
    <div class="md-toolbar-tools">

        <!--hamburger icon-->
        <i class="material-icons" ng-click="toggleLeft()">dehaze</i>


        <!--<div class="logo"></div>-->
        <h2><span class="boldText">&nbsp;&nbsp;App</span>Gyver</h2>
        <span flex=""></span>



        <md-button>Submit Project</md-button>
        <md-button>My Profile</md-button>
        <md-button>Login</md-button>
    </div>
</md-toolbar>

<div class="headerImage"></div>

<!--search bar-->
<md-content md-theme="input" layout="column" layout-padding>
    <!--<md-input-container style="padding-bottom: 0; margin-bottom: 0">-->
    <md-input-container>
        <input ng-model="search.notes" id="searchBar" placeholder="Search">
        <md-icon class="material-icons">&#xE8B6;</md-icon>
    </md-input-container>
</md-content>


<!--main content-->
<div class="main" layout="row" flex="80" style="margin:0 auto;">
    <section ng-controller="GridCtrl" layout-fill layout="column">

        <div ng-repeat="row in grid" flex layout="row">
            <div ng-repeat="item in row" flex layout="row" layout-align="center center" layout-margin class="box">
                <h1 class="md-title">{{ item }}</h1>
            </div>
        </div>

    </section>
</div>






<!--side nav-->
<div ng-controller="AppCtrl" layout="column" ng-cloak>
    <section layout="row" flex class="side-tool-list">
        <md-sidenav class="md-sidenav-left" md-component-id="left"
                    md-disable-backdrop md-whiteframe="4" style="position:fixed; top:64px;">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Pick the tools you have!</h1>
            </md-toolbar>
            <md-content layout-margin>
                <p>This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.</p>
                <md-button ng-click="toggleLeft()" class="md-accent">
                    Close this Sidenav
                </md-button><br>

                <!--left side tool category list-->
                <button class="accordion">Woodworking</button>
                <div class="panel">
                    <!--woodworking tool list-->
                    <ul>
                        <li><md-checkbox [checked]="todo.completed">Hammer</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Nails</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screwdriver</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Saw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">X-acto Blade</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screws</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Crowbar</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Bansaw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Allen Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Monkey Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wood</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Plumbing Pipes</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Electrical Wires</md-checkbox></li>
                    </ul>
                </div>

                <button class="accordion">Technology</button>
                <div class="panel">
                    <!--technology tool list-->
                    <ul>
                        <li><md-checkbox [checked]="todo.completed">Hammer</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Nails</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screwdriver</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Saw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">X-acto Blade</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screws</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Crowbar</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Bansaw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Allen Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Monkey Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wood</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Plumbing Pipes</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Electrical Wires</md-checkbox></li>
                    </ul>
                </div>

                <button class="accordion">Arts & Crafts</button>
                <div class="panel">
                    <!--arts & crafts tool list-->
                    <ul>
                        <li><md-checkbox [checked]="todo.completed">Hammer</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Nails</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screwdriver</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Saw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">X-acto Blade</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screws</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Crowbar</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Bansaw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Allen Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Monkey Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wood</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Plumbing Pipes</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Electrical Wires</md-checkbox></li>
                    </ul>
                </div>

            </md-content>
        </md-sidenav>



        <!--<md-content flex layout-padding>-->
            <!--<div layout="column" layout-align="top center">-->
                <!--&lt;!&ndash;main content goes here&ndash;&gt;-->
                <!--<p>Welcome to AppGyver!</p>-->
            <!--</div>-->
        <!--</md-content>-->



    </section>
</div>


<!--left side tool list-->
<!--<div layout="row" flex style="overflow: scroll;">-->
<!--<div class="checkbox" layout="row" flex="20">-->
<!--<ul>-->
<!--<li><md-checkbox [checked]="todo.completed">Hammer</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Nails</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Screwdriver</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Saw</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">X-acto Blade</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Screws</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Crowbar</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Wrench</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Bansaw</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Allen Wrench</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Monkey Wrench</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Wood</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Plumbing Pipes</md-checkbox></li>-->
<!--<li><md-checkbox [checked]="todo.completed">Electrical Wires</md-checkbox></li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="main" layout="row" flex="80">-->
<!--<section ng-controller="GridCtrl" layout-fill layout="column">-->

<!--<div ng-repeat="row in grid" flex layout="row">-->
<!--<div ng-repeat="item in row" flex layout="row" layout-align="center center" layout-margin class="box">-->
<!--<h1 class="md-title">{{ item }}</h1>-->
<!--</div>-->
<!--</div>-->

<!--</section>-->
<!--</div>-->
<!--</div>-->

<script>
    var acc = document.getElementsByClassName("accordion");

    for (var i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 'px';
            }
        }
    }
</script>

</body>
</html>