@font-face{
    font-family: gotham-black;
    src: url(fonts/gotham-black.ttf);
}

h2 > a{
    font-family: gotham-black, Sans-Serif;
    font-size:30px;
    color:#FEC77E;
}

.headerImageText{
    font-size:100px;
    line-height:35vh;
    font-family: gotham-black, Sans-Serif;
    color:#FEC77E;
}

.orangeText{
    /*color:#FFE0B2;*/
    /*color:#F57C00;*/
    color:#FF6D00;
}

.tealText{
    color:#B4DFD4;
}

.darkTealText{
    color: #00BFA5;
}

.headerImage > h1{
    text-align:center;
    color:#FF6D00;
    position:relative;
    bottom:20vh;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

ul{
    list-style: none;
}

li{
    display:block;
}

.md-toolbar-tools {
    background-color: #F57C00;
    position:fixed;
    top:0;
    box-shadow: 0 1px 10px 0 lightslategray;
    z-index: 1000;
}

.boldText{
    font-weight:900;
}

.md-ink-ripple-checkbox{
    background-color:white;
}

.md-icon{
    background-color:white;
}

.main{
    box-sizing: border-box;
    max-height:none;
}

.headerImage{
    background-image: url("images/tool-box.jpg");
    margin:0;
    height:70%;
    width:100%;
    overflow:hidden;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
}

.md-input-container{
    background-color:red;
}

/*.logo{*/
    /*background-image: url("images/logo1.png");*/
    /*height:50px;*/
    /*width:200px;*/
    /*position:relative;*/
    /*background-repeat: no-repeat;*/
    /*background-size:cover;*/
/*}*/


.logo{
    background-image: url("images/logoBit.png");
    height:35px;
    width:30px;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    bottom:5px;

}

.material-icons{
    cursor: pointer;
}

md-checkbox.md-checked.orangeCheckBox .md-icon {
    background-color: #F57C00;
}

input[type=text]#toolNumberSelector{
    outline: none;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 6px #d4d4d4;
    width:40px;
    height:35px;
    position:relative;
    top: 20px;
    text-align: center;
}

h2{
    text-align:center;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #F57C00;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input label{
    color: #F57C00;
}

md-card-actions{
    background-color: #FFA726;
    color:white;
}

project-card {
    width:100%;
}

.individualProjectCard{
    top:0;
    position:relative;
    transition-duration:.2s;
    transition-timing-function: ease-out;
}

.individualProjectCard:hover{
    top:-4px;
    box-shadow: 0 3px 10px #a0a0a0;
}

a:link{
    color:white;
    text-decoration:none;
}

a:hover{
    color:white;
    text-decoration:none;
}

a:visited{
    color:white;
    text-decoration:none;
}

a:active{
    color:white;
    text-decoration:none;
}

md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button){
    width:100%;
}

.viewProjectToolList li{
    list-style-type: disc;
    display:list-item;
}

.md-chips md-chip{
    background-color:#F57C00;
    color:white;
}

md-input-container:not(.md-input-invalid).md-input-focused label{
    color:#F57C00;
}

.md-chips .md-chip-input-container, .md-chip-input-container input:not([type]){
    /*width: 100%;*/
}

md-progress-linear .md-bar{
    background-color:#00BFA5;
}

md-progress-linear .md-container{
    background-color:#FFE0B2;
}

md-progress-circular path{
    stroke: #FFA726;
}

/* temporary, delete once project comments have been angularized -VL */
.comment_container {
    align:      center;
    height:     50vh;
    width:      50vw;
    border:     0.5em dashed purple;
    background-color:   pink;
}

add-photo{
    position:relative;
    bottom:20px;
}

add-photo img{
    border-radius: 5px;
    position:relative;
    top:20px
}

footer{
    height:200px;
    background-color: #F57C00;
    color:white;
}

.leftProfileContent{
    border-radius:5px;
    background-color:#FFA726;
    /*height:auto;*/
    position:relative;
    top:30px;
    color:white;
    height:60%;
}

.leftProfileContent section img{
    height:200px;
    width:200px;
    object-fit:cover;
    border-radius:10px;
}

.rateProject > .material-icons{
    color:#F57C00;
    font-size:30px;
    position:relative;
    top:8px;
    left:8px;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary{
    background-color:#FF6D00;
    color:white;
}

button.md-primary.md-button.md-default-theme.md-ink-ripple.md-focused{
    background-color:#FF6D00;
    color:white;
}

.postedComments:nth-child(even){
    background-color: #f8f8f8;
    padding-top:8px;
}

.footerLinks > ul{
    padding:0;
}

.footerLinks > ul >li{
    display: inline-block;
    padding-left:20px;
    padding-right:20px;
}

.aboutUsCard h2, h3{
    color: #00BFA5;
}

.contactUsCard h2, h3{
    color: #00BFA5;
}

.md-button.md-fab{
    z-index:0;
}

.featuredProjectsText{
    background-color: #F57C00;
    border-radius:5px;
    color:white;
    height:auto;
    width:350px;
    line-height:50px;
}