button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

ul{
    list-style: none;
}

li{
    display:block;
}

.md-toolbar-tools {
    background-color: #F57C00;
    position:fixed;
    top:0;
}

.boldText{
    font-weight:900;
}

.md-ink-ripple-checkbox{
    background-color:white;
}

.md-icon{
    background-color:white;
}

.main{
    background-color:#FFF8E1;
    box-sizing: border-box;
    height: 100%;
}

.box{
    background-color:#009688;
    color: white;
}

.headerImage{
    background-image: url("images/tool-box.jpg");
    margin:0;
    height:70%;
    width:100%;
    overflow:hidden;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
}

.md-input-container{
    background-color:red;
}

.logo{
    background-image: url("images/logo.png");
    height:50px;
    width:50px;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
}

.material-icons{
    cursor: pointer;
}

/*md-checkbox .md-icon {*/
    /*background: red;*/
/*}*/
/*md-checkbox.md-default-theme.md-checked .md-icon{*/
    /*background: black;*/
/*}*/

md-checkbox.md-checked.orangeCheckBox .md-icon {
    background-color: #F57C00;
}