<html lang="en" >
<head>
    <!--Angular Material Style Sheets-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script>
        angular.module('diyApp', ['ngMaterial'])
                .controller('AppCtrl', function ($scope, $timeout, $mdSidenav) {
                    $scope.toggleLeft = buildToggler('left');
                    $scope.toggleRight = buildToggler('right');

                    function buildToggler(componentId) {
                        return function() {
                            $mdSidenav(componentId).toggle();
                        }
                    }
                })
                .controller('checkBoxController', checkBoxController)
                .controller('GridCtrl', ['$scope', function ($scope) {
                    $scope.grid = [[1],[2],[3]];
                }]);

        function checkBoxController ($scope) {
        }

    </script>

</head>
<body ng-app="diyApp">

<!--sticky header-->
<md-toolbar layout="column" ng-controller="AppCtrl">
    <div class="md-toolbar-tools">

        <!--hamburger icon-->
        <md-button><i class="material-icons" ng-click="toggleLeft()">dehaze</i></md-button>


        <!--<div class="logo"></div>-->
        <h2><a href="index.html"><span class="boldText">&nbsp;&nbsp;App</span>Gyver</a></h2>
        <span flex=""></span>


        <md-button><a href="submit_project.html">Submit Project</a></md-button>
        <md-button>My Profile</md-button>
        <md-button>Login</md-button>
    </div>
</md-toolbar>

<div layout="column" style="height:5%;"></div>

<!--Project Title Input-->
<md-input-container class="add-form-input" layout="row" layout-align="center" flex="80" flex-offset="10">
    <label for="add-todo">Project Title</label>
    <input id="add-todo" type="text">
</md-input-container>

<div layout="column" style="height:5%;"></div>


<!--Step List-->
<md-list-item layout="row" layout-align="center">
    <div><b>Step 1</b></div>

    <md-input-container flex="70">
        <label>Description</label>
        <textarea ng-model="user.description"></textarea>
    </md-input-container>

    <div class="button-row hide-xs" layout="row">
        <md-button class="md-fab md-warn md-mini"
                   ng-hide="editing"
                   ng-click="editing = true; focus = true;">
            <md-icon md-font-set="material-icons">add</md-icon>
            <md-tooltip md-direction="top">
                Add
            </md-tooltip>
        </md-button>

        <md-button class="md-fab md-warn md-mini"
                   ng-hide="editing"
                   ng-click="editing = true; focus = true;">
            <md-icon md-font-set="material-icons">edit</md-icon>
            <md-tooltip md-direction="top">
                Edit
            </md-tooltip>
        </md-button>

        <md-button class="md-fab md-warn md-mini"
                   ng-disabled="editing"
                   ng-click="$ctrl.delete()">
            <md-icon md-font-set="material-icons">delete</md-icon>
            <md-tooltip md-direction="top">
                Delete
            </md-tooltip>
        </md-button>
    </div>
</md-list-item>
<md-divider></md-divider>








<!--side nav-->
<div ng-controller="AppCtrl" layout="column" ng-cloak>
    <section layout="row" flex class="side-tool-list">
        <md-sidenav class="md-sidenav-left" md-component-id="left"
                    md-disable-backdrop md-whiteframe="4" style="position:fixed; top:64px;">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Pick the tools you have!</h1>
            </md-toolbar>
            <md-content layout-margin>
                <p>This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.</p>
                <md-button ng-click="toggleLeft()" class="md-accent">
                    Close this Sidenav
                </md-button><br>

                <!--left side tool category list-->
                <button class="accordion">Woodworking</button>
                <div class="panel">
                    <!--woodworking tool list-->
                    <ul>
                        <li><md-checkbox [checked]="todo.completed">Hammer</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Nails</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screwdriver</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Saw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">X-acto Blade</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screws</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Crowbar</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Bansaw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Allen Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Monkey Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wood</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Plumbing Pipes</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Electrical Wires</md-checkbox></li>
                    </ul>
                </div>

                <button class="accordion">Technology</button>
                <div class="panel">
                    <!--technology tool list-->
                    <ul>
                        <li><md-checkbox [checked]="todo.completed">Hammer</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Nails</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screwdriver</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Saw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">X-acto Blade</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screws</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Crowbar</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Bansaw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Allen Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Monkey Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wood</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Plumbing Pipes</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Electrical Wires</md-checkbox></li>
                    </ul>
                </div>

                <button class="accordion">Arts & Crafts</button>
                <div class="panel">
                    <!--arts & crafts tool list-->
                    <ul>
                        <li><md-checkbox [checked]="todo.completed">Hammer</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Nails</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screwdriver</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Saw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">X-acto Blade</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Screws</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Crowbar</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Bansaw</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Allen Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Monkey Wrench</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Wood</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Plumbing Pipes</md-checkbox></li>
                        <li><md-checkbox [checked]="todo.completed">Electrical Wires</md-checkbox></li>
                    </ul>
                </div>

            </md-content>
        </md-sidenav>
    </section>
</div>


<script>
    var acc = document.getElementsByClassName("accordion");

    for (var i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 'px';
            }
        }
    }
</script>

</body>
</html>