<div layout="column" style="height:5%;"></div>

<md-card flex="70" flex-offset="15" style="max-height:none">
    <div style="background-color: #00BFA5; color:white; width:100%">
        <h2>CPU Drone</h2>
    </div>

    <md-card-content>
        <p style="line-height: 140%">This is a short description of the project. Nunc nisi dolor, hendrerit mollis elit vel, rutrum congue diam. Donec eget felis ullamcorper, pellentesque magna in, laoreet tortor. Aliquam commodo suscipit libero id ultrices. Mauris lectus lorem, accumsan ac hendrerit vitae, luctus in orci. Aenean sit amet dui mi. </p>
        <h3>Required Tools</h3>

        <ul class="viewProjectToolList">
            <li>Hammer</li>
            <li>Nails</li>
            <li>Self-Respect</li>
        </ul>

    </md-card-content>

</md-card>


<div layout="column" style="height:5%;"></div>


<md-card flex="70" flex-offset="15" style="max-height:none">
    <div style="background-color: #00BFA5; color:white; width:100%">
        <h2>Step 1</h2>
    </div>

    <md-card-content>
        <img ng-src="images/fan.png" width="60%" style="margin:auto; display:block">
        <p style="line-height: 140%"><b>My grandma used to make these all the time.</b> Nunc nisi dolor, hendrerit mollis elit vel, rutrum congue diam. Donec eget felis ullamcorper, pellentesque magna in, laoreet tortor. Aliquam commodo suscipit libero id ultrices. Mauris lectus lorem, accumsan ac hendrerit vitae, luctus in orci. Aenean sit amet dui mi. My grandma used to make these all the time.</b> Nunc nisi dolor, hendrerit mollis elit vel, rutrum congue diam. Donec eget felis ullamcorper, pellentesque magna in, laoreet tortor. Aliquam commodo suscipit libero id ultrices. Mauris lectus lorem, accumsan ac hendrerit vitae, luctus in orci. Aenean sit amet dui mi.</p>

    </md-card-content>

</md-card>
