<div layout="column" style="height:5%;"></div>

<md-card flex="70" flex-offset="15" style="max-height:none">
    <div style="background-color: #00BFA5; color:white; width:100%">
        <h2>{{ $ctrl.project_info.project_name }}</h2>
    </div>

    <md-card-content>
        <img ng-src="{{$ctrl.project_info.project_photo}}" width="100%" style="border-radius:5px;">
        <p style="line-height: 140%">{{ $ctrl.project_info.project_description }}</p>

        <h3>Required Tools</h3>
        <ul class="viewProjectToolList">
            <li ng-repeat="tool in $ctrl.tools">{{ tool.name }}</li>
        </ul>
    </md-card-content>
</md-card>


<div class="container" ng-repeat="step in $ctrl.steps">
    <div layout="column" style="height:5%;"></div>

    <md-card flex="70" flex-offset="15" style="max-height:none">
        <div style="background-color: #00BFA5; color:white; width:100%">
            <h2>Step {{ step.step_number }}</h2>
        </div>

        <md-card-content>
            <img ng-src="{{ step.step_photo }}" width="100%" style="margin:auto; display:block; border-radius:10px">
            <p style="line-height: 140%">{{ step.description }}</p>
        </md-card-content>

    </md-card>
</div>

<add-comment user-id="$ctrl.userId"></add-comment>

<!--<div class="container" ng-repeat="comment in $ctrl.comments">-->
    <!--<div layout="column" style="height:5%;"></div>-->

    <!--<md-card flex="70" flex-offset="15" style="max-height:none">-->
        <!--<div style="background-color: #00BFA5; color:white; width:100%">-->
            <!--<h2>{{ comment.comment_date }}</h2>-->

        <!--</div>-->

        <!--<md-card-content>-->
            <!--<img ng-src="{{ step.step_photo }}" width="100%" style="margin:auto; display:block; border-radius:10px">-->
            <!--<p>{{ comment.comment_text }}</p>-->
        <!--</md-card-content>-->

    <!--</md-card>-->
<!--</div>-->

