<div layout="column" style="height:5%;"></div>
<md-list-item layout="row" layout-align="center">
    <div><b>Step 1</b></div>

    <md-input-container flex="70">
        <label>Description</label>
        <textarea ng-model="user.description"></textarea>
    </md-input-container>

    <div class="button-row hide-xs" layout="row">
        <md-button class="md-fab md-warn md-mini"
                   ng-hide="editing"
                   ng-click="editing = true; focus = true;">
            <md-icon md-font-set="material-icons">add</md-icon>
            <md-tooltip md-direction="top">
                Add
            </md-tooltip>
        </md-button>

        <md-button class="md-fab md-warn md-mini"
                   ng-hide="editing"
                   ng-click="editing = true; focus = true;">
            <md-icon md-font-set="material-icons">edit</md-icon>
            <md-tooltip md-direction="top">
                Edit
            </md-tooltip>
        </md-button>

        <md-button class="md-fab md-warn md-mini"
                   ng-disabled="editing"
                   ng-click="$ctrl.delete()">
            <md-icon md-font-set="material-icons">delete</md-icon>
            <md-tooltip md-direction="top">
                Delete
            </md-tooltip>
        </md-button>
    </div>
</md-list-item>
<md-divider></md-divider>