<div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 30%" ng-repeat="project in $ctrl.projects">
        <img ng-src="{{project.project_photo}}" class="md-card-image" alt="Washed Out" width="100%">

        <md-card-title-text><h2>{{project.project_name}}</h2></md-card-title-text>

        <md-card-content>
            <p>{{project.project_description}}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button>View Project</md-button>
        </md-card-actions>
    </md-card>
</div>





