<!--<md-input-container  md-no-float>-->
    <!--<input id="textInput"-->
           <!--ng-model="$ctrl.loadedPhoto"-->
           <!--type="text"-->
           <!--placeholder="No file chosen"-->
           <!--ng-readonly="true">-->
<!--</md-input-container>-->

<input type="file" name="file" id="fileUpload" class="ng-hide">

<md-button class="md-fab md-mini"
           style="background-color:#FFA726"
           ng-hide="editing"
           ng-click="">
    <input class="ng-hide" id="input-file-id" multiple type="file">
    <label for="fileUpload">
        <md-icon md-font-set="material-icons">photo_camera</md-icon>
        <md-tooltip md-direction="top">
            Add Photo
        </md-tooltip>
    </label>
</md-button>

<img src="images/white.jpg" height="50" width="50">

